/* common css */
body {
	background-color: #fff;
	color: #000;
	height: 1024px;
}
#iDivWrapper {
	width: 768px;
	height: 1024px; /* 968 */
	margin: 0 auto;
	/*	border: 1px solid black;*/ /*guide for testing purpose*/
}
a:-webkit-any-link {
	color: #000;
	text-decoration: none;
	cursor: auto;
	-webkit-box-shadow: none;
}
h1 {
	color: #2175D9;
	font-size: 40px;
	text-shadow: none;
	font-weight: normal;
	padding: 0 0 20px 0;
	margin: 60px 0 0 42px;
}

p {
	color: #2175D9;
	font-size: 12px;
	margin: 0;
	padding: 0 0 10px 0;
	margin: 0 42px 0 42px;
}
.cPHighlight {
	color: #00308F;
}

.cVisibilityHidden {
	visibility: hidden;
}
/* panel specific css */


.cFooterBg {
	width: 768px;
	height: 229px;
	background: url('/img/default/footer_bg.png') no-repeat transparent;
	position: absolute;
	top: 796px;
	/*	display: block;*/
}
.cFooter {
	background: url('/img/default/footer_bg.png') 0 100% no-repeat transparent;
	bottom: 0;
}


/* Home */
#iDivHome {
	background: url('/img/default/home_image.jpg') no-repeat 0 0 transparent;
}
.cH1HomeTitle {
	text-align: right;
	margin: 100px 42px 0 0;
}
.cPHomeDescription {
	text-align: right;
	width: 350px;
	margin: 0 42px 0 376px;
	font-size: 14px;
	line-height: 20px;
}
#iADoTheTest {
	background: url('/img/default/btn_doe_de_test.jpg') no-repeat 0 0 transparent;
	height: 39px;
	width : 178px;
	float: right;
	margin: 20px 42px 0 0;
	font-size: 0;
	display: block;
}

/* #iSpanBtnDoeDeTest {
	height: 39px;
	width : 178px;
	background: url('/img/default/btn_doe_de_test.jpg') no-repeat 0 0 transparent;
	position: relative;
	top: 10px;
	margin: 0 34px 0 0;
	float: right;
} */

/* Intro */
#iDivIntro {
	background: url('/img/default/intro_image.jpg') no-repeat 0 0 transparent;
}
.cH1IntroTitle {
	text-align: left;
}
.cPIntroDescription {
	text-align: left;
	width: 320px;
	font-size: 14px;
	line-height: 20px;
}
#iAIntroMore {
	background: url('/img/default/btn_verder.jpg') no-repeat 0 0 transparent;
	height: 39px;
	width : 155px;
	float: left;
	margin: 30px 0 0 42px;
	font-size: 0;
	display: block;
}
/*#iSpanBtnIntroVerder {
	height: 39px;
	width : 155px;
	background: url('/img/default/btn_verder.jpg') no-repeat transparent;
	float: left;
	margin: 20px 0 0 51px;
}*/
#iImgChart {
	margin: 20px 0 20px 42px;
}

/* Register */
#iDivRegister {

}
.cH1RegisterTitle {
	text-align: left;
	margin: 30px 0 0 42px;
	padding: 0;
	font-size: 47px;
}
.cPRegisterDescription {
	text-align: justify;
	width: 684px;
	margin: 20px 42px 0;
	padding: 0;
	font-size: 14px;
}
#iSpanBtnRegisterVerder {
	height: 37px;
	width : 147px;
	background: url('/img/default/btn_verder.jpg') no-repeat transparent;
	float: right;
	margin: 20px 135px 0 0;
}

#iATerms {
	color: #2175D9;
	text-decoration: underline;
}

/*Terms and Conditions*/
#iSpanBack {
	background: url('/img/default/btn_terug.jpg') no-repeat 0 0 transparent;
	height: 39px;
	width : 155px;
	float: left;
	margin: 30px 0 0 42px;
	font-size: 0;
	display: block;
	cursor: pointer;
}
#iDivTermsWrapper{
	width: 100%;
	height: 608px;
	overflow: hidden;
}
#iPTermsDescription {
	text-align: justify;
}
.cH1TermsSubTitle{
	font-size: 20px;
	margin: 18px 0 0 42px;
}



/* How to */

#iDivHowTo .cDivAnswerList{
	margin-left: 16px;
}
#iDivHowTo .question{
	margin: 0 0 0 3px;
}

#iDivDragDropDemoContainer{
	width: 768px;
	height: 200px;
	padding: 18px 0 0 20px;
	margin: -120px 0 -100px;
}
#iDivImageArrow{
	width: 100px;
	height: 142px;
	/*	position: absolute;*/
	position: relative;
	background: url('/img/default/arrow.png') no-repeat transparent;
	left: 100px;
	top: 220px;
	z-index: 1000;
}
/*#iDivImageHowTo {
	width: 708px;
	height: 396px;
	background: url('/img/default/howto.jpg') no-repeat transparent;
	position: relative;
	left: 27px;
}*/
.cH1HowtoTitle {
	text-align: left;
	margin: 60px 0 0 42px;
}
.cPHowtoDescription {
	text-align: left;
	width: 680px;
	font-size: 14px;
	line-height: 20px;
	padding: 0 0 10px 0;
}
#iAStartTheTest {
	background: url('/img/default/btn_start_de_test.jpg') no-repeat transparent;
	height: 39px;
	width : 155px;
	float: right;
	margin: 65px 42px 0 0;
	font-size: 0;
	display: block;
}
/*#iSpanBtnStartDeTest {
	height: 37px;
	width : 147px;
	background: url('/img/default/btn_start_de_test.jpg') no-repeat transparent;
	float: right;
	margin: 20px 50px 0 0;
}*/

/* Questions */
.question{
	margin: 0 0 0 23px;
}
#iSpanQuestionCount, #iSpanParticipantId {
	display: none;
}
.cSpanNext {
	background: url('/img/default/btn_volgende.jpg') no-repeat transparent;
	height: 39px;
	width : 155px;
	float: right;
	margin: 90px 42px 0 0;
	font-size: 0;
	display: block;
	cursor: pointer;
}
/*#iSpanBtnVolgende {
	height: 37px;
	width : 147px;
	background: url('/img/default/btn_volgende.jpg') no-repeat transparent;
	float: right;
	margin: 20px 70px 0 0;
}*/

/* Finish */
#iDivFinish {

}
.cPFinishTitle {
	text-align: left;
}
.cPFinishDescription {
	text-align: left;
	width: 680px;
	font-size: 14px;
	line-height: 20px;
}
#iAClose {
	background: url('/img/default/btn_afsluiten.jpg') no-repeat 0 0 transparent;
	height: 39px;
	width : 155px;
	float: right;
	margin: 280px 44px 0 0;
	font-size: 0;
	display: block;
	cursor: pointer;
}
/*#iSpanBtnAfsluiten {
	height: 37px;
	width : 147px;
	background: url('/img/default/btn_afsluiten.jpg') no-repeat 0 0 transparent;
	float: right;
	margin: 20px 70px 0 0;
}*/
#iDivFinish .cDivMarker {
	/*	width : 100%;*/
}
.cPHighlightRed {
	color: #FF2400;
}

/* Common Button specific css */
/* .cBtnCommon {
	display: block;
		text-indent: -9999px;
	font-size: 0px;
} */

/* Common Question specific css */

.cSpanQuestionNumber {
	color: #f6a72e;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: 18px;
	left: 1px;
}
.cH1Question {
	font-size: 24px;
	padding: 14px 42px 0 155px;
	margin: 11px 0 0 0;
}
.cDivAnswreholder {
	height: 125px;
	width: 125px;
	background-color:#c6c6c6;
	text-align: center;
	/*	padding: 53px 0 0 0;*/
	float: left;
	background-image: url('/img/default/answerbox_bg.png');
	margin-left: 20px;
}
.cDivAnswreholder * {
	z-index: 1;
}
.cH1QuestionTitle {
	font-size: 22px;
	margin: 60px 0 30px 20px;
}

/* answer specific css */


#iDivAnswerLittle {
	margin-top: -10px;
	margin-left: 1px;
}

.cDivAnswerList {
	margin: 90px 0 0 36px;
	height: 135px;
	float: left;
}
.cDivAnswerList div {
	text-align: center;
	padding: 53px 0 0 0;
	height: 125px;
	width: 125px;
	margin: 5px 11px 5px 4px;
	float: left;
	list-style: none;
	color: #fff;
}
.cDivAnswerList .cDivAnswerNo{
	margin-left: 7px;
}

.cTextFormat {
	color: #fff;
	font-weight: bold;
}

/* progress bar specific css */
.cDivProgressbar {
	background: url('/img/default/progress_bar_bg.jpg')  repeat-x 0 0 transparent;
	height: 13px;
	width: 768px;
	margin: 40px 0 35px 0 ;
}
.cDivMarker {
	background-color: #2f82d9;
	/*	width: 150px;*/
	height: 13px;
}

/* Registration form specific css */
#iFormRegister {
	color: #2f82d9;
	width: 564px;
	margin:auto;
	padding: 20px 0 0;
	/*	padding: 20px 30px 0px 74px;*/
}
#iFormRegister input[type="text"] {
	font-size: 14px;
	color: #2f82d9;
	width: 258px;
	height: 40px;
	padding: 0 10px;
}
#iFormRegister input[type="radio"],
#iFormRegister input[type="checkbox"] {
	/*	margin: 3px;*/
	display: none;
}
#iFormRegister select {
	font-size: 14px;
	background: #fff;
	color: #2f82d9;
	width: 258px;
	height: 40px;
	margin: 0 5px 0 0;
}
#iFormRegister input[type="radio"] + label {
	margin-left: 0;
}
#iFormRegister input[type="radio"]:first-child + label {
	/*	margin: 0 30px 0 0;*/
	width: 80px;
}
#iDivRadioGender, #iDivRadioLeading {
	width: 165px;
	height: 25px;
}
#iFormRegister input[type="checkbox"] + label {
	margin: -10px 0 0;
	width: 275px;
}
#iFormRegister input[type="submit"] {
	background: url('/img/default/btn_verder.jpg') no-repeat transparent;
	height: 39px;
	width : 155px;
	margin: 10px 0 0 103px;
	float: left;
	border: none;
}
/*#iFormRegister table{
	width: 600px;
	margin:auto;
	padding:50px 30px 0px 30px;
}*/
#iFormRegister table td {
	padding: 7px 10px 7px 0;
}
#iFormRegister table tr td:first-child {
	/*	width: 175px;*/
}
#iFormRegister table tr td:last-child {
	/*	width: 351px;*/
}
/*#iFormRegister table,
#iFormRegister table td,
#iFormRegister table tr {
	padding: 10px;
}*/
#iFormRegister .cError {
	color: red;
	float: right;
	margin: 10px 0 0 10px;
}
#iFormRegister label[for^="radio"] + .cError {
	margin: 0 0 0 10px;
}
#iFormRegister input[type="checkbox"] + label + .cError {
	margin: -6px 0 0 10px;
}
#iFormRegister input::-webkit-input-placeholder {
	color: red;
}

#iTableRegistration tbody {
	padding: 10px;
	color: #2f82d9;
}
#iTableRegistration tbody td {
	padding: 10px;
}
#iTableRegistration tbody tr {
	padding: 10px;
}
#iTableRegistration tbody input {
	height: 50px;
	width: 200px;
	color: #2f82d9;
}

#iDivDropSound {
	display: none;
}


/* Qtip Override */

.qtip {
	margin-left: -6px;
	font-size: 12px;
	line-height: 28px;
}
.qtip .ui-tooltip-content {
	word-wrap: normal;
}