@font-face {
    font-family: 'FrutigerRoman';
    src: url('/fonts/frutiger-55-roman-webfont.eot');
    src: url('/fonts/frutiger-55-roman-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/frutiger-55-roman-webfont.woff') format('woff'),
		url('/fonts/frutiger-55-roman-webfont.ttf') format('truetype'),
		url('/fonts/frutiger-55-roman-webfont.svg#FrutigerRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'FrutigerRoman';
}