@font-face {
    font-family: 'FrutigerRoman';
    src: url('/fonts/Frutiger55Roman.eot');
    src: url('/fonts/Frutiger55Roman.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Frutiger55Roman.woff') format('woff'),
		url('/fonts/Frutiger55Roman.ttf') format('truetype'),
		url('/fonts/Frutiger55Roman.svg#FrutigerRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5{
    font-family: 'FrutigerRoman';
}
.bx-wrapper .bx-viewport {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
border: 0px;
}