#backButton {
	display: none;
}
#jQUi > #header {
	display: none;
}
#navbar {
	display: none;
}
#jQUi {
	height: 1024px; /*928 1024 for fullscreen*/
	width: 768px;
	background: none;
}
.panel {
	height: 1024px;
	left: 0;
	top: 0; /*Change top to what the header height is*/
	bottom: 0; /* We are not showing the navbar */
	background: none;
	margin-top: 0;
}
.jq-scrollable {
/*	display: none;*/
}
.jqmScrollbar {
	display: none;
}
.scrollBarV {
/*	opacity:.8 !important;*/
	right: 0;
}

#content {
	top: 0;
	height: 1024px;
}
p {
	-webkit-box-shadow: none;
	background: none;
	color: #000;
	padding-bottom: 0;
	padding-left: 10px;
}

input.jq-ui-forms[type="checkbox"] + label,
input.jq-ui-forms[type="radio"] + label {
	background-image: url('/img/default/custom_inputs.png');
	font-weight: normal;
}

#jQui_mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	opacity: 1;
}
#jQui_mask span {
	top: 50%;
	left: 50%;
	position: absolute;
}