/* 24-Column Layout */
.cContainer-24 {
	width: 950px;
	margin: auto;
}
.cContainer-24 .cGrid-01,
.cContainer-24 .cGrid-02,
.cContainer-24 .cGrid-03,
.cContainer-24 .cGrid-04,
.cContainer-24 .cGrid-05,
.cContainer-24 .cGrid-06,
.cContainer-24 .cGrid-07,
.cContainer-24 .cGrid-08,
.cContainer-24 .cGrid-09,
.cContainer-24 .cGrid-10,
.cContainer-24 .cGrid-11,
.cContainer-24 .cGrid-12,
.cContainer-24 .cGrid-13,
.cContainer-24 .cGrid-14,
.cContainer-24 .cGrid-15,
.cContainer-24 .cGrid-16,
.cContainer-24 .cGrid-17,
.cContainer-24 .cGrid-18,
.cContainer-24 .cGrid-19,
.cContainer-24 .cGrid-20,
.cContainer-24 .cGrid-21,
.cContainer-24 .cGrid-22,
.cContainer-24 .cGrid-23,
.cContainer-24 .cGrid-24 {
	float: left;
	margin-right: 10px;
}
.cContainer-24 .cLast {
	margin-right: 0;
}
.cContainer-24 .cGrid-01 {
	width: 30px;
}
.cContainer-24 .cGrid-02 {
	width: 70px;
}
.cContainer-24 .cGrid-03 {
	width: 110px;
}
.cContainer-24 .cGrid-04 {
	width: 150px;
}
.cContainer-24 .cGrid-05 {
	width: 190px;
}
.cContainer-24 .cGrid-06 {
	width: 230px;
}
.cContainer-24 .cGrid-07 {
	width: 270px;
}
.cContainer-24 .cGrid-08 {
	width: 310px;
}
.cContainer-24 .cGrid-09 {
	width: 350px;
}
.cContainer-24 .cGrid-10 {
	width: 390px;
}
.cContainer-24 .cGrid-11 {
	width: 430px;
}
.cContainer-24 .cGrid-12 {
	width: 470px;
}
.cContainer-24 .cGrid-13 {
	width: 510px;
}
.cContainer-24 .cGrid-14 {
	width: 550px;
}
.cContainer-24 .cGrid-15 {
	width: 590px;
}
.cContainer-24 .cGrid-16 {
	width: 630px;
}
.cContainer-24 .cGrid-17 {
	width: 670px;
}
.cContainer-24 .cGrid-18 {
	width: 710px;
}
.cContainer-24 .cGrid-19 {
	width: 750px;
}
.cContainer-24 .cGrid-20 {
	width: 790px;
}
.cContainer-24 .cGrid-21 {
	width: 830px;
}
.cContainer-24 .cGrid-22 {
	width: 870px;
}
.cContainer-24 .cGrid-23 {
	width: 910px;
}
.cContainer-24 .cGrid-24 {
	width: 950px;
}