.cTableAclOverview .cThRoles {
	text-align: center;
}
.cTableAclOverview .cTdPermission {
	text-align: center;
}

.cTdModule {
	text-indent: 0;
	background-color: #000000;
	color: #FFFFFF;
}
.cTdController {
	text-indent: 1em;
	background-color: #666666;
	color: #FFFFFF;
}
.cTdAction {
	text-indent: 2em;
	background-color: #CCCCCC;
}
.cAclAllowed {
	background-color: #468847;
}
.cAclDenied {
	background-color: #B94A48;
}
.cAclUndefined {
	background-color: #F89406;
	opacity: 0.5;
}